{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    <h1>HRMS</h1> <br>
    <h2>Project Business Goals</h2>
    <div>
        HR Analysis application by utilising machine learning and help to achieve its business to -
        <ul>
            <li>
                Save Cost financially
            </li>
            <li>
                Save brain drain effect
            </li>
            <li>
                Morally Substantial
            </li>
        </ul>
    </div>
    <br>
    <div>
        <h3>Main Function</h3><br>
        <p>
            To build a prediction model to predict which of their
analysis the employee data  and predicting the whether the experienced employee leaving prematurely?
        </p>
    </div>
{% endblock %}

{% block content %}

{% endblock %}

